.BookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 200px;
}

.BookCard img {
  border: solid 0.5px;
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.BookCard-details {
  text-align: center;
}

.BookCard button.not-in-cart {
  background-color: #4e9af1;
}

.BookCard button.in-cart {
  background-color: #f14e4e;
}
