/* Layout */

.cart-page {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cart-page h2 {
  margin: 1rem;
}

.cart-body {
  margin: 0 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

/* Table */

table {
  table-layout: fixed;
  flex: 2 2 auto;
  border-spacing: 0;
}

table tr th,
table tr td {
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  padding: 5px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1.5px solid black;
}

table tr th {
  background: #f9f8f6;
  border-top: 1.5px solid black;
}

table tr:first-child th:first-child {
  border-top-left-radius: 2rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 2rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 2rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 2rem;
}

/* Cart Items */

.flex {
  min-width: 15rem;
  flex-grow: 1;
  display: flex;
  padding: 1rem 3rem;
  justify-content: flex-start;
  gap: 10%;
  align-items: center;
}

img {
  height: 9rem;
  width: 6rem;
  box-sizing: border-box;
  border: solid 1px;
}

.description div {
  text-align: center;
  flex: 1;
}

.quantity {
  width: 8rem;
}

input {
  width: 3rem;
}

.price,
.total-price {
  min-width: 5rem;
}

/* Order Summary Box */

.order-summary {
  width: 20%;
  min-width: 20rem;
  flex-shrink: 1;
  border: solid;
  border-radius: 2rem;
  overflow: hidden;
  height: 13.5rem;
}

.order-summary h3 {
  background-color: #f9f8f6;
  margin: 0;
  padding: 0.5rem;
}

dl {
  height: 6rem;
}

dt {
  font-weight: 700;
  float: left;
  clear: right;
  margin-left: 1rem;
}

dd {
  float: right;
  margin-right: 1rem;
}

.button {
  background: #4e9af1;
}
