.cart-page {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cart-page h2 {
  margin: 1rem;
}

.cart-body {
  margin: 0 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

table {
  table-layout: fixed;
  flex: 2 2 auto;
  border-radius: 10px;
}

table,
th,
td {
  border: 1.5px solid black;
  border-collapse: collapse;
}

.flex {
  min-width: 15rem;
  flex-grow: 1;
  display: flex;
  padding: 1rem 3rem;
  justify-content: start;
  gap: 10%;
  align-items: center;
}

img {
  height: 9rem;
  width: 6rem;
  box-sizing: border-box;
  border: solid 1px;
}

.description div {
  text-align: center;
  flex: 1;
}

.quantity {
  width: 8rem;
}

input {
  width: 3rem;
}

.price,
.total-price {
  min-width: 5rem;
}

.order-summary {
  width: 20%;
  min-width: 20rem;
  flex-shrink: 1;
  border: solid;
  border-radius: 2rem;
  overflow: hidden;
  height: 11rem;
}

.order-summary h3 {
  background-color: #f9f8f6;
  margin: 0;
  padding: 0.5rem;
}

dt {
  font-weight: 700;
  float: left;
  clear: right;
  margin-left: 1rem;
}

dd {
  float: right;
  margin-right: 1rem;
}
