.category-header {
  margin: 1rem 3rem;
}

hr {
  margin: 0 2rem;
}

.books-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin: 3rem;
  gap: 2rem;
}
