.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38vh;
}

.hero-img {
  background-image: url("..//img/pexels-ksenia-chernaya-3952071.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  filter: brightness(0.3);
  top: 12vh;
  z-index: -1;
  height: 38vh;
  width: 100vw;
}

q {
  color: white;
  text-align: center;
  width: 550px;
  font-size: 1.5rem;
}

p {
  color: white;
  margin: 0.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  text-align: right;
}
